{% extends "blog/layout.html"%}

{% block title%}
    Post List!!!
{% endblock%}

{% block content%}
    <p>안녕하세요.... 어쩌고 저쩌고... </p>

    <form action="" method="get">
        <input type="text" name="q" value="{{query}}" />
        <input type="submit" value="검색">
    </form>

    <ul>
    {% for post in post_list %}
        <li>
            {{post.id}}
            <a href="{% url "blog:post_detail" post.id %}">
                {{post.title}}
            </a>
            
            <!--<a href="/blog/{{post.id}}/">{{post.title}}</a>-->
            <small> by {{post.author}}</small>
            <small> at - {{post.updated_at}}</small>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
